<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668468006082-6l14v6trikqk6rtb2t195qqb16e5lmk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668468006082-6l14v6trikqk6rtb2t195qqb16e5lmk4</string>
	<key>API_KEY</key>
	<string>AIzaSyC32WB0mGBAEKSVz5ozz7_k2KdlurznicQ</string>
	<key>GCM_SENDER_ID</key>
	<string>668468006082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoTask</string>
	<key>PROJECT_ID</key>
	<string>todo-dcf3a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-dcf3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668468006082:ios:2ff7f4830a135bcd79ff5b</string>
</dict>
</plist>